*{
    box-sizing:border-box;
}
body{
    font-size:14px ;
    font-family:"microsoft yahei",Arial,Helvetica,sans-serif;
    color:#000;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#333;
    text-decoration:none;
}
a:hover{
    color:#EE4023;
    text-decoration:none;
}
#top,#nav,#c_course,#c_teacher,#student,#main,#footer-content{
    min-width: 1350px;
    margin:0 auto;
}
/*js调用内容文本*/
.txt_hidden{
    font-size:0;
}
/*所以内容父元素*/
.section_inner{
    max-width: 1350px;
    margin: 0px auto;
    position: relative;
    z-index: 8;
}
.section_inner::after,.top_nav::after{
    content: "";
    display: block;
    clear: both;
}
/*1-2 页头和导航的CSS*/
#top{
    position: relative;
    margin-top: 10px;
    max-width: 1350px;
}
#top>div.section_inner{
    padding-top: 75px;
}
.vbs_title{
    position: absolute;
    left: 37%;
    top: 0;
}
.top_search{
    position: absolute;
    right: 10%;
    top: -1%;
}
.search_inner{
    border: 1px solid #cccccc;
    padding: 0px 10px 0px 10px;
    line-height: 35px;
    height: 37px;
    margin-top: 17px;
    position: relative;
    border-radius: 5px;
    background-color:#fff;
}
.search_input{
    height: 30px;
    border: 0 none;
    font-size: 15px;
    width: 180px;
    padding-right: 28px;
}
.search_input:focus{
    outline:none;
}
.search_btn{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px none;
    width: 38px;
    height: 35px;
    overflow: visible;
    background: transparent none repeat scroll 0px 0px;
}
.search_btn:focus{
    outline:none;
}
.i_search{
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-image:url("../img/vocal_sprite.png");
    background-position: 0px -40px;
}
button{
    cursor: pointer;
}
.search_btn:hover .i_search{
    background:url("../img/vocal_sprite.png") 0px -60px;
}
.vbs_balance{
    position: absolute;
    top: 5%;
}
.top_user{
    position: absolute;
    right: 6%;
    top: -12%;
}
.register_inner,.add_inner{
    margin-top: 22px;
    position: relative;

}
.i_register{
    display: block;
    padding: 12px;
    width: 28px;
    height: 24px;
    background: url("../img/vocal_sprite.png")  96px -637px;
}
.register_inner:hover .i_register{
    background: url("../img/vocal_sprite.png") 72px -637px;
}
.top_add{
    position: absolute;
    right: 2%;
    top: -12%;
}
.i_add{
    display: block;
    padding: 12px;
    width: 28px;
    height: 24px;
    background: url("../img/vocal_sprite.png") 144px -639px;
}
.add_inner:hover .i_add{
    background: url("../img/vocal_sprite.png") 120px -639px;
}
.language{
    padding:0 10px 0 10px;
}
#nav{
    position: relative;
    border-top: 1px solid #eee;
    max-width: 1350px;
}
.top_nav{
    min-height: 55px;
    margin: 0px auto;
}
.nav_item a{
    display: block;
    margin: 15px 23px 0px 23px;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}
.nav_inner{
    position: absolute;
    left: 14%;
    top: 0;
}
.nav_item{
    float:left;
}
.nav_item a:hover{
    border-bottom: 2px solid #EE4023;
    transition: all .05s linear;
}

/*页尾导航*/
#footer-content{
    height: 190px;
    color: #999;
    background-color: #333;
    font-size: 14px;
    text-align: center;
}
#footer-content a{
    color: #999;
}
#footer-content a:hover{
    color: #EE4023;
}
.footer_copyright{
    line-height: 25px;
    letter-spacing: 1px;
    width: 1350px;
    margin: 30px auto;
    margin-bottom:0px;
}
.footer_title{
    margin: 0 auto;
    width: 1350px;
    padding-top: 42px;
}
.footer_box{
    width:450px;
    float: left;
    height:290px;
    overflow: hidden;
    padding: 0 60px;
}
.footer_box_title{
    font-size: 20px;
    margin-bottom: 40px;
}
.footer_box ul li{
    float: left;
    min-width: 100px;
    margin:15px auto;
}
.vbs_logo{
    background: url("../img/vbs_footer.png") no-repeat 0 -2px;
    width: 68px;
    height: 35px;
    display: block;
    margin: 0 auto;
}
.vbs_logo:hover{
    background: url("../img/vbs_footer.png")no-repeat 0 -40px;
}